.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
  min-height: 5vh;
}

.form-root {
  position: relative;
  .form {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    width: 638px;
    z-index: 3;
    margin: 0 auto;
    height: 32px;
    border-radius: 25px;
    padding-left: 20px;

    button {
      flex: 0 0 auto;
      padding-right: 13px;
      width: 44px;
      background: transparent;
      border: none;
      cursor: pointer;
      flex: 0 0 auto;
      padding: 0;
    }

    input {
      background-color: transparent;
      border: none;
      margin: 0;
      padding: 0;
      color: rgba(0,0,0,.87);
      border-radius: 25px;
      outline: none;
      display: flex;
      flex: 100%;
      font-size: 16px;
    }
  }

  .drop-down {
    width: 100%;
    position: absolute; 
		background-color: #fff;

		& > div:hover {
			box-shadow: 0 .5rem 1rem rgba(0,0,0,.500)!important;
		}

		& > div {
			padding: 5px;	

			& > div {
				padding: 0 20px;
			}
		}

    .item {
      display: flex;

      img {
        height: 144px; 
      }
    }
  }

}

