.films {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.film-card {
  cursor: pointer;
  display: flex;
  margin: 2rem;
  flex: 1 1 33%;
  flex-direction: column;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  max-width: 20rem;
  padding: 15px;

  &:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.500)!important;
  }

  img {
    width: 100%; 
  }

  .title {
    justify-content: center;
    align-items: center;
  }
}

.film {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    text-align: center; 
  }

  img {
    height: 600px;
    width: 400px;
  }
}

@media (min-width: 768px) {
  .film-card {
    flex: 1 1 100%;
  }
}

.film-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .section {
    display: flex;
    & > div {
      margin: 20px;
      align-items: center;
      justify-content: center;
    }

     .similary-films {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        & > div {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          margin: 10px;
          flex: 1 1 23%; 

          .title {
            text-align: center; 
          }

          & > img {
            height: 120px; 
            width: 78px;

          }
        }
    }
  }
}
